.content{
    background: -webkit-linear-gradient(rgb(152, 151, 149), rgb(9, 9, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-color{
    color: red !important;
}